body {
	font-family: 'Montserrat', sans-serif;
	font-size: rem-calc( 16px );
	font-weight: 400;

	#wrapper {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		max-width: rem-calc( 1920px );
		margin: 0 auto;
	}

	#container {
		width: 100%;
		max-width: rem-calc( 1376px );
		margin: 0 auto;
		flex: 1;
	}

	figure {
		margin: 0;
	}
}