.rsce_monaco {
	@include container_bottom_margin;

	&__container {
		@include container_inner_spacing;
	}

	&__title {
		@extend .main_title;
		width: 100%;
		max-width: 100%;
		text-align: center;
	}

	&__item {
		margin-bottom: $spacing_16;
		padding-bottom: $spacing_16;
		border-bottom-width: rem-calc(2px);
		border-bottom-style: solid;
		@include media-breakpoint-up(lg) {
			margin-bottom: $spacing_32;
			padding-bottom: $spacing_32;
		}

		&_title {
			position: relative;
			padding-right: rem-calc(52px);
		}

		&_button {
			position: absolute;
			top: 50%;
			right: 0;

			display: block;
			width: rem-calc(36px);
			height: rem-calc(36px);
			margin-top: rem-calc(-18px);
			background-color: $paris;
			border-radius: 50%;
			cursor: pointer;
			@include media-breakpoint-down(lg) {
			}

			span {
				position: absolute;
				display: block;
				width: rem-calc(16px);
				height: rem-calc(2px);
				background-color: $berlin;
				transition-duration: .3s;

				&:first-child {
					top: 50%;
					left: 50%;
					margin-top: rem-calc(-1px);
					margin-left: rem-calc(-8px);
				}

				&:last-child {
					top: 50%;
					left: 50%;
					margin-top: rem-calc(-1px);
					margin-left: rem-calc(-8px);
					transform: rotate(90deg);
					transition-property: transform;
					transition-duration: .3s;
				}
			}

			&.active {
				span {
					&:last-child {
						transform: rotate(0deg);
					}
				}
			}
		}

		&_text {
			display: none;
			p:last-child {
				margin-bottom: 0;
			}
		}
	}
}