/*** spacing ***/
$spacing_12: rem-calc( 12px );
$spacing_16: rem-calc( 16px );
$spacing_24: rem-calc( 24px );
$spacing_48: rem-calc( 48px );




/*** border-radius ***/
$border_radius_large: rem-calc( 16px );